
<nav class="navbar navbar-dark bg-dark rounded" >
  <a class="navbar-brand" style="color: white;">BIU Portal - {{getName()}}</a>
  <form class="form-inline" *ngIf="isHomeRoute()">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right: 1rem;" type="submit">Search</button>
    <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right: 1rem;" (click)="sendMsg()">Message</button>
    <button class="btn btn-outline-success my-2 my-sm-0"    (click)="logout()">Logout</button>


  </form>
</nav>
<ng-progress></ng-progress>
<router-outlet></router-outlet>
