.total {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rightAligned {
  justify-content: right;
}

.accept:hover {
  background-color: green;
  color: white;
}

.reject:hover {
  background-color: red;
  color: white;
}
